.css-10trblm.e16nr0p30
{
text-align : center;
color : #9932CC;
font-family : Engravers MT;
border-width: 5px;
border-bottom-style: dotted;
border-top-style: dotted;
border-color:#CD853F;
}

.css-ltfnpr.etr89bj0
{
color:#9932CC;
font-family : Engravers MT;
font-size : 18px;
}

span.css-zt5igj.e16nr0p33
{
text-align : center;
}
.css-10trblm e16nr0p30
{
text-align : center;
}